//Background Colors
$dark-blue: #212c4f;
$super-dark-blue: #1b233f;
$light-gray:#D3D3D3;

//Text Colors
$dark-green: #205284;
$dark-gray: #5b6175;
$light-blue: #c6d0eb;
$black: #000000;
$white: #ffffff;

//Button Colors
$purple: #7B42F6;
$violet:#B01EFF;
$pink:#E1467C;
$blue:#3672F8;
$middle-blue: #546bfb;
$teal: #56CCF2;
$green:#a6e1d5;
$turquoise:#14f1d9;
